<!DOCTYPE html>
<html>
<head>
	<title>Main Activity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="menu">
		<a href="/add" style="margin-left:50px">Add Student</a>
		<a href="/update" style="margin-left:100px">Update Student</a>
		<a href="/delete" style="margin-left:100px">Delete Student</a>
		<a href="/show" style="margin-left:100px">Show Student</a>
	</div>
</body>
</html>